*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
} 
a{
	text-decoration: none;
	outline: none;
}
.footer-main-div{
	width: 100%;
	height: auto;
	margin: auto;
	background: #012; 
	padding: 20px 0px;
}
.footer-social-icon{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-social-icon ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer-social-icon ul li{
	display: inline-block;
	width: 50px;
	height :50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: #fff;
}
.footer-social-icon ul li a{
	color: #34495e;
	font-size: 25px;
	display: block;
}
.footer-social-icon ul li a i{
	line-height: 50px;
}
.footer-menu-one{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}
.footer-menu-one ul{
	margin:0px;
	padding: 0px;
	text-align: center;
}
.footer-menu-one ul li{
	display: inline-block;
	margin: 0px 20px;
}
.footer-menu-one ul li a{
	font-family: arial;
	font-size: 14px;
	font-weight: 500px;
	color: #fff;
	text-transform: uppercase;
}
.footer-bottom{
	width: 100%;
	height: auto;
	margin: auto;
	background: #E6E6FA;
	padding: 5px;
}
.footer-bottom p{
	font-family: arial;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	color: #34495e;
}
.bg-custom {
	background-color: #34495e;
}
.nav li a{ color: #fff; font-size: 14pt; }
.panel img { width: 100%; }
.container.login {min-height: 70vh; }